@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    background: #020202;
}

.content {
    color: rgb(0, 0, 0);
    background: yellow;
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 5px solid yellow;
    border-radius: 100px;
    

}

.texto {
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
    color: black;
    z-index: 100;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: black;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    transition: all .3s linear;
}

.btn:hover{
    transform: scale(1.1);
}

.btn a {
    text-decoration: none;
    outline: none;
    color: yellow;
}

.verde {
    color: rgb(0, 0, 0);
}
.descri {
    font-size: 20px;
}

.a {
    text-decoration:dashed;
}

@media (max-width : 768px){
    .content{
        width: 350px;
        height: 430px;
    }
        .texto{
            font-size: 15px;
        }


}