@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');



:root {
 --verde : #ffffff;
 --limon : rgb(252, 227, 1);
 --degradado : linear-gradient(90deg, var(--limon),var(--verde));
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    
    
}

*::selection {
    background: black;
    color: white;
}

html {
    font-size: 62.4%;
    overflow-x: hidden;
    
}

body {
    background: #020202;
    padding: 0 1.5em;
    color: white;
}

section {
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;

}


.heading {
  text-align: center;
  background: var(--verde);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.5rem;
  text-transform: uppercase;
  padding: 1rem;
}

header {
    position: fixed;
    top: 2;
    left: 0;
    width: 100%;
    background-color: #020202;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

header .logo span {
    color: rgb(252, 227, 1);
}

header .navbar a{
    font-size: 1.8rem;
    margin-left: 2rem;
    color: var(--verde);

}

header .navbar .nova:hover {
    color: var(--limon);
}

header input {
    display: none;
}

header label {
    font-size: 3rem;
    color: var(--verde);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;

}

.navbar .nova2  {
    color: rgb(252, 227, 1);
}

.content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.logo {
 text-align: center;
 font-size: 2em;
 padding-bottom: 15px;


}

.logo span {
    color: yellow;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);

}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form{
    background: #222222;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form p{
    margin: 0;
    padding: 1em;

}



.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(252, 227, 1);
    outline: none;
    color: white;
}

.contact-form form button{
    background: rgb(252, 227, 1);
    color: black;
    border: 0;
    text-transform: uppercase;
    padding: 1em;

}

.contact-form form button:hover,
.contact-form form button:focus{
    background:rgb(252, 227, 1);
    color: rgb(0, 0, 0);
}



.contact-info {
    background: #000000;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;

}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    padding: .2em;
}









@media(max-width : 1200px) {

    html{
        font-size: 55%;

    }   

    .lista {
        padding-top: 20%;
    }

    


}

@media (max-width : 990px) {
    section {
        padding: 0 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    }
}

@media (max-width : 768px){
    header label{
        visibility: visible;
        opacity: 1;

    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgb(0, 0, 0);
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition:  .2s linear;
    }

    header .navbar a{
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }

    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before{
        content: '\f00d';
    }

  

}

@media (max-width : 450px) {
    html {
        font-size: 49%;
    }

}




