@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');



:root {
 --verde : #ffffff;
 --limon : rgb(252, 227, 1);
 --degradado : linear-gradient(90deg, var(--limon),var(--verde));
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    
    
}

*::selection {
    background: black;
    color: white;
}

html {
    font-size: 62.4%;
    overflow-x: hidden;
    
}

body {
    background: #020202;
}

section {
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;

}


.heading {
  text-align: center;
  background: var(--verde);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.5rem;
  text-transform: uppercase;
  padding: 1rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #020202;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

header .logo span {
    color: rgb(252, 227, 1);
}

header .navbar a{
    font-size: 1.8rem;
    margin-left: 2rem;
    color: var(--verde);

}

header .navbar .nova:hover {
    color: var(--limon);
}

header input {
    display: none;
}

header label {
    font-size: 3rem;
    color: var(--verde);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;

}

.navbar .nova2  {
    color: rgb(252, 227, 1);
}


.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
}



.conter {
    padding-bottom: 100px;
}

.inicio .image img{ 
    width: 55vh;
    animation: float 10s linear infinite;
    margin-left: 100px;

}



.conter hr{
    
    height: 3px;
    background: var(--limon);
}

.segundo hr{
    
    
        height: 3px;
        background: var(--limon);
   
}

.conter hr:hover{
    transform: scale(1.1);
}

@keyframes float{
    0% , 100% {
        transform:translateY(-8rem);
    }

    50% {
        transform: translateY(2.5rem);
    }
}

.inicio .conter h3 {
    font-size: 3.5rem;
    color: rgb(255, 251, 251);
    text-transform: uppercase;


}

.inicio .conter h3 span {
    color: var(--limon);
    text-transform: uppercase;
}

.inicio .conter p {
    font: 1.7rem;
    font-size: 25px;
    color: #666;
    padding: 1rem 0;
}

.inicio .conter h6 {
    font-size: 25px;
    color: #666 ;
}

.inicio .image img {
    border: 5px solid var(--limon);
    border-width: medium
}

.inicio .conter h1 {
    font-size: 20px;
    color: whitesmoke;
    font-family: 'Roboto Mono', monospace;
}

.inicio .conter i {
    color: white;
}

.conter .activo {
    color: var(--limon);
}

.conter .verde {
    color: green;
}


.titulo {
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
}

/** Comienzo card **/

.container__card{
    max-width: 1200px;
    padding: 20px;
    padding-bottom: 40px;
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.card{
    width: 300px;
    position: relative;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    transition: all 300ms;
    border-radius: 20px;
}

.card:hover{
    box-shadow: 1px 1px 20px -10px #20202049;
}

.card:hover .info__description{
    margin-top: 0;
    border-radius: 0px 0px 20px 20px;

}

.card:hover .icon{
    margin-top: -110px;
    border-radius: 20px 20px 0px 0px;
}

.icon{
    width: 100%;
    height: 220px;
    background: #EFF3F5;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
}

.icon i{
    font-size: 150px;
    color: #fff;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
}

.info__description{
    width: 100%;
    height: 220px;
    color: #474747;
    background: #EFF3F5;
    padding: 20px;
    margin-top: -220px;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
}

.info__description p{
    font-size: 14px;
    margin-top: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
}

.info__description input{
    margin-top: 20px;
    padding: 10px 40px;
    background: #2196f3;
    color: white;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    transition: box-shadow 300ms;
}

.info__description input:hover{
    box-shadow: 1px 1px 30px -5px #20202070;
}


/*COLOR DE LAS CARD*/

.c1:hover .icon{
    background: #DD4B25;
}

.c1 .icon i{
    color: #DD4B25;
}

.c1:hover .icon i{
    color: #fff;
}


.c2:hover .icon{
    background: #146EB0;
}

.c2 .icon i{
    color: #146EB0;
}

.c2:hover .icon i{
    color: #fff;
}


.c3:hover .icon{
    background: #E8B600;
}

.c3 .icon i{
    color: #E8B600;
}

.c3:hover .icon i{
    color: #fff;
}

/*FIN DE LAS CARD*/





@media(max-width : 1200px) {

    html{
        font-size: 55%;

    }   

    .lista {
        padding-top: 20%;
    }

    


}

@media (max-width : 990px) {
    section {
        padding: 0 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    }
}

@media (max-width : 768px){
    header label{
        visibility: visible;
        opacity: 1;

    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgb(0, 0, 0);
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition:  .2s linear;
    }

    header .navbar a{
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }

    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before{
        content: '\f00d';
    }

    .inicio{
        flex-flow: column-reverse;
    }

    .inicio .image img{
        width: 100%;
        margin-left: 0px;

    }

    .inicio .conter h3 {
        font-size: 3.6rem;
    }


    .inicio .conter p{
        font-size: 1.5rem;

    }

    @keyframes float{
        0% , 100% {
            transform:translateY(-5rem);
        }
    
        50% {
            transform: translateY(-0.6rem);
        }
    }

    .chiqui {
        font-size: 10px;
    }
    
    .titulo {
        font-size: 30px;
        
    }

}


@media (max-width : 450px) {
    html {
        font-size: 49%;
    }

    .chiqui {
        font-size: 10px;
    }

}


